body{
    margin-top: 125px;
    height: 3000px;
    background-color: rgb(197, 197, 197);
}
.header{
    box-shadow: 0px 1px 5px black;
    position: fixed;
    top: 0px;
    width: 100vw;
    left: 0;
    right: 0;
    background: lightblue;
}
#title{
    text-align: center;
}
ul{
    font-size: 40px;
}
.BoxLinkContainer{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.LinkBox{
    box-shadow: 2px 2px 5px;
    text-align: center;
    width: 300px;
    height: auto;
    background-color: white;
}
div img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
